<p>directives works!</p>


<div class="container">
    <div class="row">
        <div class="col-3">
          <div class="bg-danger p-4" *ngIf="isDivVisible">
            DIV 1
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
            <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
        </div>
    </div>

    <div class="row">
        <input type="checkbox" [(ngModel)]="hasRefferalCode">
    </div>
    <div class="row" *ngIf="hasRefferalCode">
        <input type="text" placeholder="enter a referal code">
    </div>
    
</div>