<p>get-api-exmp works!</p>
<div class="row">
    <div class="ol-3">
        <button class="btn btn-success" (click)="getAllUsers()">getUser data</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            @for (item of jsonUserList; track $index) {
                <li>{{item.name}}</li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="getAllUserUsingSignal()">Get userList(Signal)</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            @for (item of jsonSignal(); track $index) {
                <li>{{item.name}}</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-3">
                <button class="btn btn-success" (click)="getAllBusUsers()">Get busList(Signal)</button>

    </div>
</div>

<div class="row">
    <div class="col-3">
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                @for (item of busUserList(); track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.name}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>